@charset "UTF-8";

* {
  padding: 0rem;
  margin: 0rem;
  font-family: "Montserrat", sans-serif;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

body {
  background-color: black;
}

main {
  background-image: url(assets/background.png);
  background-repeat: no-repeat;
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 3.56rem;
}

header h1 {
  display: flex;

  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.06rem;
  color: var(--text-color);
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.37rem;
  color: var(--text-color);
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.37rem;
  height: 3.12rem;

  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--black-text);
}

button img {
  width: 1.87rem;
  height: 1.87rem;
  margin-right: 0.93rem;
}

.colorNFTs {
  color: var(--color-logo);
}

/* MAIN */
#section1 {
  display: flex;
  align-items: center;
}

#badge {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
  margin-top: 7.06rem;
}

#avarts {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 5.12rem;
  top: 21.75rem;
  width: 23.06rem;
  height: 5.43rem;
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

#avarts span {
  width: 12.12rem;
  height: 3rem;
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.37rem;
  color: var(--text-color);
  flex-wrap: wrap;
}

#avarts p {
  margin-left: 0.37rem;

  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.37rem;
  color: var(--text-color);
}

#section1 h2 {
  margin-top: 5.62rem;
  width: 37.25rem;
  height: 15.37rem;

  font-style: normal;
  font-weight: 700;
  font-size: 3.12rem;
  line-height: 3.81rem;
  color: var(--text-color);
}

#section1 #texto {
  display: flex;
  width: 25.06rem;
  height: 5.5rem;
  margin-left: 5.12rem;
  margin-right: 2.5rem;

  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.37rem;

  color: var(--text-color);
}

/* Gallery */
#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6.25rem;
  margin-left: 5.12rem;
}

#gallery img {
  margin-bottom: 3.77rem;
}
/* Section 2 */
.linha {
  height: 16rem;
  left: 11.85rem;
  top: 62.5rem;
  position: absolute;
  border: 0.06rem solid var(--subtitle-color);
}
#section2 #textos {
  display: flex;
  margin-left: 15.87rem;
}
#section2 #textos p {
  margin-right: 7.87rem;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.37rem;
  color: var(--text-color);
}

.Lorem span {
  text-decoration: underline;
}

#section2 a {
  text-decoration: underline;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.37rem;
  margin-left: 0rem;
  margin-top: 1.56rem;
  color: var(--text-color);
}

.spanNumeros {
  font-style: normal;
  font-weight: 600;
  font-size: 3.12rem;
  line-height: 3.81rem;

  color: var(--text-color);
}

.numeros {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 5.43rem;
  flex-wrap: wrap;
  width: 3.81rem;
  height: 1.37rem;

  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5rem;

  color: var(--subtitle-color);
}

.numeros p {
  margin-bottom: 4.37rem;
}

#section2 .numeros {
  text-decoration: none;
}

#banner {
  display: flex;
  margin-left: 11.87rem;
}

/* Section3 */
#section3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 9.37rem;
  width: 79.11rem;
  height: 58.56rem;
}

#populares {
  margin-top: 9.68rem;
  margin-left: 5.43rem;
  font-style: normal;
  font-weight: 700;
  font-size: 3.12rem;
  line-height: 3.81rem;

  color: var(--text-color);
}

#section3 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.87rem;
  line-height: 2.31rem;
  margin-bottom: 2.75rem;

  color: var(--text-color);
}

#section3 p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 2.12rem;

  color: var(--subtitle-color);
}

#section3 div {
  display: flex;
  flex-wrap: wrap;
  width: 23.55rem;
  margin-left: 5.43rem;
  height: 21.06rem;
}

.arrowWhite {
  margin-left: 8.43rem;
  width: 1.25rem;
  height: 1.25rem;
}

.name {
  margin-left: 5.62rem;
}

.name2 {
  margin-left: 9.37rem;
}

#linha-vertical {
  position: absolute;
  height: 50.93rem;
  border-right: 0.06rem solid var(--subtitle-color);
  left: 44.62rem;
  top: 122.18rem;
}

/* SECTION 4 */
#section4 {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-top: 7.5rem;
  width: 80.43rem;
  height: 42.64rem;
  color: var(--text-color);
}

.artistas {
  margin-left: 28.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 3.12rem;
  line-height: 3.81rem;

  color: var(--text-color);
}

#section4 p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-left: 2.5rem;
}

#artista {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.87rem;
  height: 9.37rem;
  margin-left: 3.75rem;
  flex-wrap: wrap;
  background-color: var(--card-color);
}

#artista .colorNFTs {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
}

#section4 .jake,
.jake .colorNFTs {
  color: var(--text-color);
  background: var(--color-logo);
}

main a {
  display: flex;
  color: var(--text-color);
  margin-left: 45%;
  width: 16.27rem;
  height: 2.58rem;
  text-decoration: none;
}

main a img {
  margin-left: 0.81rem;
  width: 0.93rem;
  height: 0.93rem;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  width: 100%;
  height: 150%;
}
footer h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.06rem;
  color: var(--text-color);

  margin-left: 3.12rem;
  margin-right: 56.25rem;
  margin-top: 1.56rem;
}
footer .top {
  display: flex;
  margin-top: 3.12rem;
}
#seta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: var(--color-logo);
}
#seta img {
  width: 1.39rem;
  height: 1.39rem;
}
footer h3 {
  width: 21.87rem;
  height: 5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.87rem;
  line-height: 2.31rem;

  color: var(--text-color);
}
.bot {
  margin-top: 3.75rem;
  border: 0.06rem solid white;
  margin-bottom: 4.18rem;
}

.vertical {
  position: absolute;
  height: 17.60rem;
  left: 32.81rem;
  border: 0.06rem solid white;
  top: 245rem;
}
.input {
  display: flex;
  flex-direction: column;
  padding-left: 3.18rem;
  padding-bottom: 3.31rem;
  border-bottom: 0.06rem solid white;
}
form {
  display: flex;
  margin-top: 1.56rem;
}
input[type="email"] {
  width: 17.5rem;
  height: 4.12rem;
  padding-left: 1.25rem;
  border: none;

  background-color: var(--color-input);
  color: var(--text-color);
}
input[type="submit"] {
  width: 7.62rem;
  height: 4.12rem;
  background-color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  border: none;
  color: var(--black-text);
}

.titleList {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--text-color);
  margin-bottom: 0.43rem;
  margin-left: 0.62rem;
}

.listas {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1.25rem;
  left: 40.62rem;

  color: red;
}

.listas2 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1.25rem;
  left: 53.12rem;
}
.listas3 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1.25rem;
  left: 65.62rem;
}

.listas3 a,
.listas2 a,
.listas a {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--subtitle-color);
}

.botFooter {
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
  height: 50%;

  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;

  width: 1.87rem;
  height: 1.87rem;
}
.botFooter img {
  width: 1.87rem;
  height: 1.87rem;
  margin-right: 3.12rem;
}
.botFooter a {
  color: var(--subtitle-color);
}
.link {
  margin-right: 37.5rem;
  margin-left: 3.12rem;
}
